<p>Hello <%= @student.email %> </p>



<% @studentsmatch.length.times do |index| %>
<% index = index + 1 %>
<p> <%= "day #{index.to_s} #{@student1} matches with #{@studentsmatch.first}" %> </p>
<% end %>
